{% extends "base" %}

{% block content %}
    <div class="hero">
            <h2>Current Balance</h2>
            <h3>{{balance}} <b>libra</b></h3>
            <p>
                Sequence: {{seq}}
            </p>
            <p><b>Account</b> {{addr}}</p>
            <a class="button" href="/">Query</a>
        </div>
{% endblock content %} 